body{
  background-color: rgba(2,2,3,.98);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game{
  position: relative;
}

.board{
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;

  transform: rotate(180deg);
}

.square{
  width: 100px;
  height: 100px;
  outline: 2px solid black;
  transform: rotate(180deg);
}

.square:hover{
  opacity: .9;
}

.square.light-square{
  background-color: #EDEDD1;
}

.square.dark-square{
  background-color: #759555;
}

.piece{
  width: 100%;
  height: auto;
}

.square.highlight-square{
  background-color: skyblue;
}

.promotion{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100px;
  background-color: white;
  z-index: 1;
}

.promotion .promotion-piece{
  width: 100%;
  height: 100px;
}

.promotion-piece img{
  width: 100%;
  height: auto;
}

.promotion-piece:hover{
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
}

.playing-now{
  color: white;
  font-size: 30px;
}

.piece-in-check{
  background-color: rgb(243, 62, 66);
}

.gameover-modal{
  width: 75%;
  background-color: black;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
}

.gameover-modal .results{
  font-size: 2rem;
  font-weight: bold;
  color: white;
}