body{
  background-color: rgba(2, 2, 3, 0.431);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.game{
  position: relative;
}

.board{
  width: 720px;
  height: 720px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;

  transform: rotate(180deg);
}

.square{
  width: 90px;
  height: 90px;
  outline: 2px solid black;
  transform: rotate(180deg);
}

.square:hover{
  opacity: .9;
}

.square.light-square{
  background-color: #EDEDD1;
}

.square.dark-square{
  background-color: #759555;
}

.piece{
  width: 100%;
  height: auto;
}

.square.highlight-last-move{
  background-color: rgb(255 233 103);
}

.square.highlight-square{
  background-color: skyblue;
}


.promotion{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90px;
  background-color: white;
  z-index: 1;
}

.promotion .promotion-piece{
  width: 100%;
  height: 90px;
}

.promotion-piece img{
  width: 100%;
  height: auto;
}

.promotion-piece:hover{
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
}

.playing-now{
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.playing-now img{
  width: 90px;
  height: 90px;
  background-color: rgb(44, 41, 41);
  outline: 2px solid rgb(14, 0, 0);
}

.playing-now .highlight-white, .playing-now .highlight-black{
  background-color: white;
  transition: background-color .5s;
}

.piece-in-check{
  background-color: rgb(243, 62, 66);
}

.gameover-modal{
  width: 75%;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid black;
  border-radius: 20px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
  color: black;
  font-weight: bold;
}

.gameover-modal .results{
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.gameover-modal h2{
  color: black;
}

.gameover-modal p{
  font-size: 1.5rem;
}

.gameover-modal .close{
  background-color: transparent;
  color: black;
  font-size: 2rem;
  padding: 0;
  display:block;
  margin-left: auto;
  border: none;
  transition: scale .7s;
}

.close:hover{
  scale: 1.2;
}

.brand{
  line-height: 1;
  margin-top: 0;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: .5rem;

  color: white;
  transition: color .5s;
}

@media(max-width:768px){
  body{
    place-items: center;
  }
  .board{
    width: 500px;
    height:500px;
  }
  .square{
    width: 62.5px;
    height: 62.5px;
  }
}
